@import './component_pc/header_pc.css';
@import './component_pc/table_pc.css';
@import './component_pc/footer_pc.css';
@import './component_pc/globais_pg.css';
@import './component_pc/mobile_pg.css';


:root{
    /* Fonte de texto */
    --font-pop:"Poppins","sans-serif";


    /* Paletas de cores utilizadas na página Home */
    --cor-branco:#fff; /*nas duas partes*/
    --cor-branco-claro:#f1f3f7; /*nas duas partes*/
    --cor-branco-escuro:#f6f6f6; /*nas duas partes*/
    --cor-cinza:rgba(128, 128, 128, 0.342); /*nas duas partes*/
    --cor-azul:#1566fcda; /*nas duas partes*/
    --cor-azul-2:#020c38;

    /* Paletas de cores utilizadas na página Tabela de Preços */
    --cor-verde:#233032;
    --cor-gradient-tabela:rgba(47, 134, 214, 1);
}