footer{
    width: 100%;
    height: 25vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(0, 128, 255);
}

.logo_footer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.logo_footer h2{
    position: relative;
    bottom: 30px;
    left:20px;
}

.logo_footer p{
    position: relative;
    top: 10px;
    right: 8rem;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}

.logo_footer img{
    width: 100%;
    max-width: 90px;
}

.paragrafo-rodape{
    color: white;
}

.desenvolvedor{
    display: flex;
    margin: 0 auto;
    background-color: rgb(24, 24, 24);
    color: white;
    width: 100%;
    height: 50px;
    font-weight: 500;
}
.desenvolvedor p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.desenvolvedor span{
    margin-left: 10px;
    font-weight: bold;
    color: red;
}   

.footer_container{
    display: flex;
    width: 100%;
    max-width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 3rem;
}