* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

.max_width {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img{
    width: 100%;
    max-width: 120px;
}