/* Header / Nav menu */
.mobile_pc {
    display: none;
}

.active {
    display: block !important;
}

@media (max-width: 880px) and (min-width: 10px) {
    .menu_container_pc {
        display: none;
    }

    .mobile_pc {
        display: flex;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 10;
    }
    
    .btn_mobile_pc {
        display: flex;
        position: fixed;
        border: none;
        width: 100%;
        height: 50px;
        background-color: rgb(0, 89, 255);
    }

    .btn_mobile_pc img {
        display: flex;
        float: right;
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        max-width: 40px;
        width: 100%;
    }
    .list_mobile_pc a:hover{
        border-radius: 1px solid white;
    }

    .list_mobile_pc {
        display: flex;
        text-align: center;
        background-color: rgba(56, 155, 248, 0.644);
        height: auto;
        z-index: 10;
        position: absolute;
        width: 100%;
        top: 3.1rem;
    }


    .list_mobile_pc li {
        display: flex;
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        border: 1px solid rgb(27, 27, 27);
        border-radius: 50px;
        background-color: rgba(15, 75, 241, 0.623);
    }
    
    .list_mobile_pc li:hover{
        box-shadow: 0 1px 4px white;
    }

    .list_mobile_pc a {
        padding-block: 1.2rem;
        padding-inline: 10rem;
        text-decoration: none;
        color: white;
        font-style: italic;
        font-size: 18px;
    }
}

.mobile_pc.active {
    display: block !important;
}

.list_mobile_pc {
    display: none;
}