main{
    position: relative;
    top: 0;
    background-color: var(--cor-azul);
    width: 100%;
    height: auto;
    z-index: 1;
}

.home_text{
    color: var(--cor-branco);
    width: 470px;
}


.home_p1{
    max-width: 350px;
    width: auto;
    margin-bottom: 30px;
}
.home_p2{
    margin-top: 30px;
}

.home_img{
    width: 50%;
    height: auto;
}

.container{
    display: grid;
    width: 1024px;
    height: 100%;
    grid-template-columns: repeat(auto-fill, 500px);
}

