.header {
    width: 100%;
}
.menu_container {
    display: flex;
    width: 100%;
    max-width: 1024px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav {
    width: 100%;
    height: auto;
    padding: 35px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.logo_menu {
    width: 320px;
}

.logo_menu img {
    width: 70px;
    height: 80px;
    position: relative;
    top: 0.7rem;
    right: 6rem;
}

.text_logo {
    position: absolute;
    top: 3rem;
    margin-left: 8rem;
    line-height: 30px;
}

.text_logo p{
    font-weight: bolder;
}

.cor_azul {
    color: var(--cor-azul);
}

.nav_menu ul {
    width: auto;
    display: flex;
    gap: 20px;
    margin-top: 35px;
}

.nav_menu a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 18px;
    padding-block: 20px;
    padding-inline: 10px;
}

.nav_menu a:hover{
    color: rgba(255, 0, 0, 0.726);
}

.container{
    margin: 0 auto;
}

